@import "_config.scss";
@import "_general.scss";
@import "_buttons.scss";
@import "_toolbar.scss";
@import "_terminal.scss";
@import "_send-form.scss";


#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    height: 100%;
}